/* body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
}

html,
body {
  margin: 0;
  padding: 0;
}
header,
section,
footer {
  width: 100%;
}
section {
  height: 350px;
}
header {
  background-color: #1726ec; 
  color: lightblue;
}
#nav,
#headline {
  height: 250px;
}
#nav-img{
  height: 100px;
  width: 150px;
}
#cta,
#dogPics {
  background-color: #29885c;
  color: lightskyblue;
}
footer {
  background-color: #fff;
  height: 50px;
} */

/* ***************************Template Code Below********************************** */
/* tindog css */
body {
  font-family: "Montserrat", sans-serif;
}

/* title */

#title {
  background-color: #1726ec;
  color: #fff;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat-Bold";
}
.big-heading{
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}
.container-fluid {
  padding: 3% 15% 7%;
}
/* .rotate_image {
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
} */
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar {
  padding: 0 0 4.5rem;
}
#nav-img{
  width: 14rem;
  
}
.navbar-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}
.download-button {
  margin: 5% 3% 5% 0;
}
.title-image {
  width: 60%;
  position: absolute;
  right: 30%;
}

/* features */

.feat {
  display: flex;
  justify-content: center;
  padding: 6rem 5rem;
}
.feature {
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
}
.fd {
  color: #8f8f8f;
}
.fi {
  color: #fff;
  margin-bottom: 1rem;
}
.fi:hover {
  color: #fff;
}
#features {
  padding: 7% 15%;
  color: #8f8f8f;
  background-color: white;
  position: relative;
  z-index: 1;
}
.des {
  text-align: center;
  padding: 5%;
}

/* testimonials */

#testimonials {
  text-align: center;
  background-color: #29885c;
  color: #fff;
}
h2 {
  
  font-size: 3rem;
  line-height: 1.5;
  margin: 0 10%;
}
.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item {
  padding: 7% 15%;
}

/* press */

 #pics {
  
  text-align: center;
  padding-bottom: 3%;
 
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
} 
.pic{
  height: 10rem;
  width: 15rem;
  
}


/* pricing */

#pricing {
  padding: 100px;
  text-align: center;
  background-color: #29885c;
}
.pricing-column {
  padding: 3% 2%;
}
.price{
 justify-content: space-evenly;
}
.cards{
  height: 25%;
}

/* title image */

.phone-img {
  position: relative;
}
@media (max-width: 1020px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* call to action */

#cta {
  background-color: #1726ec;
  text-align: center;
  padding: 5% 25%;
}
.cta-text {
  font-family: "Montserrat";
  color: #fff;
  font-size: 2.5rem;
  line-height: 1.7;
}

/* footer */

#footer {
  background-color: #fff;
  text-align: center;
  padding: 7% 15%;
}
.copyright-text {
  padding-top: 3%;
  color: #8f8f8f;
 font-size: 0.7rem; 
}
.foot-icon {
  margin: 10px 20px;
  color: black;
}

